/* line 3, ../sass/common-header-dark.scss */
header#GeneralHeader {
  color: #fff;
}
/* line 6, ../sass/common-header-dark.scss */
header#GeneralHeader .headinfo {
  height: 80px;
}
/* line 9, ../sass/common-header-dark.scss */
header#GeneralHeader .headinfo a {
  color: #fff;
}
/* line 13, ../sass/common-header-dark.scss */
header#GeneralHeader .headinfo .logo {
  display: block;
  float: left;
  margin-top: 5px;
  width: 295px;
  height: 61px;
  background: url(../img/general/logo-dark.png) no-repeat;
  text-indent: -3000px;
}
/* line 23, ../sass/common-header-dark.scss */
header#GeneralHeader .headinfo .w190 {
  float: right;
}
/* line 26, ../sass/common-header-dark.scss */
header#GeneralHeader .headinfo .w190 .phone {
  margin-top: 15px;
  background: url(../img/general/head-phone-dark.png) no-repeat 0 0;
  padding-top: 28px;
}
/* line 33, ../sass/common-header-dark.scss */
header#GeneralHeader .headinfo .w130 {
  float: right;
  display: block;
  margin-left: 40px;
  background: url(../img/general/cart.png) no-repeat 0 0;
  padding-left: 60px;
}
/* line 40, ../sass/common-header-dark.scss */
header#GeneralHeader .headinfo .w130 .cart {
  padding-left: 10px;
  padding-top: 10px;
  float: left;
  height: 80px;
}
/* line 46, ../sass/common-header-dark.scss */
header#GeneralHeader .headinfo .w130 .cart dt {
  display: block;
  margin: 0 0 5px 0;
  font-size: 12px;
}
/* line 51, ../sass/common-header-dark.scss */
header#GeneralHeader .headinfo .w130 .cart dd {
  display: block;
  font-size: 11px;
}
/* line 60, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main {
  margin-bottom: 20px;
  float: left;
}
/* line 65, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main .w980 {
  position: relative;
  overflow: visible;
}
/* line 70, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
/* line 78, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li {
  display: block;
  position: relative;
  float: left;
  margin-right: 2px;
}
/* line 84, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li a {
  text-indent: -4000px;
  display: block;
  background: url(url('/img/../img/sprites/_menu-s7248127677.png')) no-repeat;
}
/* line 90, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li a.woman {
  background-position: 0 -300px;
  height: 50px;
  width: 214px;
}
/* line 93, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li a.woman:hover, header#GeneralHeader nav#Main ul li a.woman.active {
  background-position: 0 -240px;
  height: 50px;
  width: 214px;
}
/* line 97, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li a.man {
  background-position: 0 -180px;
  height: 50px;
  width: 214px;
}
/* line 100, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li a.man:hover, header#GeneralHeader nav#Main ul li a.man.active {
  background-position: 0 -120px;
  height: 50px;
  width: 214px;
}
/* line 104, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li a.child {
  background-position: 0 -60px;
  height: 50px;
  width: 214px;
}
/* line 107, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li a.child:hover, header#GeneralHeader nav#Main ul li a.child.active {
  background-position: 0 0;
  height: 50px;
  width: 214px;
}
/* line 112, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li.collection {
  margin-right: 0;
  text-indent: -4000px;
  float: right;
  height: 50px;
  width: 206px;
  background: url(../img/general/season.png) no-repeat 0 7px;
}
/* line 121, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu {
  position: absolute;
  z-index: 500;
  background: #000;
  width: 860px;
  display: none;
  top: 50px;
  left: 0;
}
/* line 130, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu.man {
  left: -180px;
}
/* line 132, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu.man .container {
  border-top: 4px solid #028b33;
}
/* line 137, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu .container {
  margin-top: 5px;
  -moz-box-shadow: 5px 5px 10px #666666;
  -webkit-box-shadow: 5px 5px 10px #666666;
  -o-box-shadow: 5px 5px 10px #666666;
  box-shadow: 5px 5px 10px #666666;
  width: 860px;
  float: left;
  overflow: hidden;
  padding: 10px 20px;
  background: #dadbdc;
  border-top: 4px solid #c0061e;
  border-bottom: 2px solid #5a5a5a;
}
/* line 148, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu .container a {
  background: none;
  text-indent: 0;
  display: normal;
}
/* line 154, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu .container .brands {
  float: left;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
/* line 160, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu .container .brands li {
  float: left;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 20px;
}
/* line 168, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu .container .brands li a {
  text-decoration: none;
}
/* line 171, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu .container .brands li a.benetton {
  color: #028c33;
}
/* line 175, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu .container .brands li a.sisley {
  color: #2d2d2d;
}
/* line 179, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu .container .brands li a.playlife {
  color: #cd1543;
}
/* line 183, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu .container .brands li a:hover {
  text-decoration: underline;
}
/* line 190, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu .container .cat {
  float: left;
  width: 180px;
}
/* line 194, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu .container .cat li {
  float: none;
  margin-bottom: 8px;
}
/* line 198, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu .container .cat li a {
  text-decoration: none;
}
/* line 201, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu .container .cat li a:hover {
  text-decoration: underline;
}
/* line 209, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu .container .cat.line2 {
  margin-right: 0;
}
/* line 213, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu .container .banner {
  float: right;
}
/* line 218, ../sass/common-header-dark.scss */
header#GeneralHeader nav#Main ul li .submenu.active {
  display: block;
}
