/* line 3, ../../sass/blocks/block-leftbar.scss */
.block {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 8, ../../sass/blocks/block-leftbar.scss */
.block h2 {
  font-size: 18px;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 10px;
  line-height: 26px;
}
/* line 16, ../../sass/blocks/block-leftbar.scss */
.block h2 span {
  display: block;
}
/* line 21, ../../sass/blocks/block-leftbar.scss */
.block img {
  display: block;
}
/* line 25, ../../sass/blocks/block-leftbar.scss */
.block.gray {
  background: #dadbdc;
}
/* line 28, ../../sass/blocks/block-leftbar.scss */
.block.gray.product-colors, .block.gray.product-sizes {
  padding: 0;
}
/* line 32, ../../sass/blocks/block-leftbar.scss */
.block.gray.product-colors header, .block.gray.product-sizes header {
  display: block;
  text-transform: uppercase;
  height: 25px;
  width: 215px;
  padding: 0 10px;
  cursor: pointer;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  background: #959595;
}
/* line 45, ../../sass/blocks/block-leftbar.scss */
.block.gray.product-colors.product-colors, .block.gray.product-sizes.product-colors {
  padding-bottom: 10px;
}
/* line 49, ../../sass/blocks/block-leftbar.scss */
.block.gray.product-colors article, .block.gray.product-sizes article {
  padding: 10px;
}
/* line 52, ../../sass/blocks/block-leftbar.scss */
.block.gray.product-colors article div, .block.gray.product-sizes article div {
  display: block;
  width: 100%;
  margin-top: 40px;
  overflow: hidden;
}
/* line 61, ../../sass/blocks/block-leftbar.scss */
.block.gray.select {
  position: relative;
  padding: 0;
  clear: both;
}
/* line 67, ../../sass/blocks/block-leftbar.scss */
.block.gray.select header {
  display: block;
  text-transform: uppercase;
  height: 25px;
  width: 235px;
  padding: 0 10px;
  cursor: pointer;
  font-size: 16px;
  line-height: 25px;
  background: url(url('/img/../img/sprites/_block-select-header-sbb509d8d60.png')) no-repeat top right;
  color: #fff;
}
/* line 80, ../../sass/blocks/block-leftbar.scss */
.block.gray.select.brands header {
  background-position: 0 -105px;
  height: 25px;
  width: 235px;
}
/* line 84, ../../sass/blocks/block-leftbar.scss */
.block.gray.select.brands header.active {
  background-position: 0 -35px;
  height: 25px;
  width: 235px;
}
/* line 87, ../../sass/blocks/block-leftbar.scss */
.block.gray.select.brands header.active:hover {
  background-position: 0 0;
  height: 25px;
  width: 235px;
}
/* line 91, ../../sass/blocks/block-leftbar.scss */
.block.gray.select.brands header:hover {
  background-position: 0 -70px;
  height: 25px;
  width: 235px;
}
/* line 96, ../../sass/blocks/block-leftbar.scss */
.block.gray.select.colors header {
  background-position: 0 -105px;
  height: 25px;
  width: 235px;
}
/* line 100, ../../sass/blocks/block-leftbar.scss */
.block.gray.select.colors header.active {
  background-position: 0 -35px;
  height: 25px;
  width: 235px;
}
/* line 103, ../../sass/blocks/block-leftbar.scss */
.block.gray.select.colors header.active:hover {
  background-position: 0 0;
  height: 25px;
  width: 235px;
}
/* line 107, ../../sass/blocks/block-leftbar.scss */
.block.gray.select.colors header:hover {
  background-position: 0 -70px;
  height: 25px;
  width: 235px;
}
/* line 112, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article {
  padding: 10px 10px 5px 10px;
  overflow: hidden;
  display: none;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 119, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article.active {
  display: block;
}
/* line 123, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article p {
  display: block;
  margin-bottom: 5px;
}
/* line 128, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article ul.selectors {
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
/* line 134, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article ul.selectors li {
  margin-bottom: 15px;
  overflow: hidden;
}
/* line 138, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article ul.selectors li.last {
  margin-bottom: 5px;
}
/* line 144, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article span.jqTransformCheckboxWrapper {
  display: block;
  float: left;
}
/* line 147, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article a.jqTransformCheckbox {
  background: transparent url(../img/forms/category-checkbox.png) no-repeat center top;
  vertical-align: middle;
  margin-top: 2px;
  padding: 0;
  height: 12px;
  width: 12px;
  display: block;
  /*display: -moz-inline-block;*/
}
/* line 156, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article a.jqTransformCheckbox.jqTransformChecked {
  background: transparent url(../img/forms/category-checkbox.png) no-repeat center bottom;
}
/* line 161, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article label {
  color: #959595;
  font-size: 14px;
  float: left;
  padding-left: 8px;
}
/* line 167, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article label img {
  margin-top: 2px;
}
/* line 171, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article label.checked {
  color: #5a5a5a;
}
/* line 176, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article a {
  font-weight: bold;
  text-decoration: none;
}
/* line 180, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article a:hover {
  text-decoration: underline;
}
/* line 185, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article .colors {
  display: block;
  width: 100%;
}
/* line 189, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article .colors li {
  float: left;
  margin-right: 20px;
}
/* line 193, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article .colors li.lastinline {
  margin-right: 0;
}
/* line 199, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article .colors.selected li {
  margin-right: 5px;
  margin-bottom: 5px;
}
/* line 209, ../../sass/blocks/block-leftbar.scss */
.block.order-info {
  padding: 0;
  background: #dedede;
}
/* line 213, ../../sass/blocks/block-leftbar.scss */
.block.order-info header {
  background: #5a5a5a;
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 221, ../../sass/blocks/block-leftbar.scss */
.block.order-info footer {
  background: #5a5a5a;
  margin-top: 10px;
  padding: 5px 10px;
  position: relative;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  text-transform: uppercase;
}
/* line 231, ../../sass/blocks/block-leftbar.scss */
.block.order-info footer .title {
  display: block;
  width: 150px;
  float: left;
}
/* line 237, ../../sass/blocks/block-leftbar.scss */
.block.order-info footer .price {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
}
/* line 247, ../../sass/blocks/block-leftbar.scss */
.block.order-info .product {
  margin: 10px;
  overflow: hidden;
}
/* line 251, ../../sass/blocks/block-leftbar.scss */
.block.order-info .product li {
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
/* line 256, ../../sass/blocks/block-leftbar.scss */
.block.order-info .product li .title {
  float: left;
  display: block;
  width: 160px;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 264, ../../sass/blocks/block-leftbar.scss */
.block.order-info .product li .price {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  font-weight: bold;
}
/* line 272, ../../sass/blocks/block-leftbar.scss */
.block.order-info .product li .articule {
  clear: left;
  display: block;
  width: 160px;
  float: left;
  font-size: 10px;
  margin-top: 5px;
}
/* line 283, ../../sass/blocks/block-leftbar.scss */
.block.order-info .bonus-pay, .block.order-info .pay {
  background: #808080;
  display: block;
  padding: 4px 5px;
  margin: 0 10px 5px 10px;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  position: relative;
}
/* line 293, ../../sass/blocks/block-leftbar.scss */
.block.order-info .bonus-pay .title, .block.order-info .pay .title {
  float: left;
  display: block;
  width: 150px;
}
/* line 299, ../../sass/blocks/block-leftbar.scss */
.block.order-info .bonus-pay .price, .block.order-info .pay .price {
  position: absolute;
  display: block;
  top: 4px;
  right: 5px;
  font-weight: bold;
}
/* line 312, ../../sass/blocks/block-leftbar.scss */
.block.free-delivery h2 {
  background: url(../img/general/sidebars/title-free-delivery.png) no-repeat 0 0;
  width: 230px;
  height: 70px;
  display: block;
  text-indent: -4000px;
}
/* line 319, ../../sass/blocks/block-leftbar.scss */
.block.free-delivery p {
  font-size: 12px;
  margin-bottom: 10px;
}
/* line 325, ../../sass/blocks/block-leftbar.scss */
.block.free-delivery a {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
/* line 331, ../../sass/blocks/block-leftbar.scss */
.block.free-delivery a:hover {
  text-decoration: underline;
}
/* line 339, ../../sass/blocks/block-leftbar.scss */
.block.delivery {
  padding: 10px 0;
  font-size: 13px;
  line-height: 18px;
}
/* line 344, ../../sass/blocks/block-leftbar.scss */
.block.delivery p {
  margin-bottom: 20px;
}
