/* line 2, ../../sass/blocks/block-BannersLine.scss */
#BannersLine {
  clear: both;
  overflow: hidden;
  display: block;
  margin-bottom: 20px;
}
/* line 8, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 {
  position: relative;
}
/* line 11, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 .prev-button, #BannersLine .w980 .next-button {
  display: none;
}
/* line 15, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 #Rotator {
  position: absolute;
  width: 108px;
  top: 590px;
  list-style: none;
  left: 436px;
}
/* line 22, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 #Rotator li {
  display: block;
  float: left;
}
/* line 27, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 #Rotator li a {
  display: block;
  text-indent: -4000px;
  width: 26px;
  background: url(../img/main/banners/slider-nav.png) no-repeat right 0;
  height: 25px;
  margin: 0 5px;
}
/* line 36, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 #Rotator .current a, #BannersLine .w980 #Rotator a:hover {
  background-position: left 0;
}
/* line 42, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 .head-banner {
  position: relative;
  display: block;
  height: 640px;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 49, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 .head-banner ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 55, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 .head-banner ul li {
  overflow: hidden;
}
/* line 62, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 .down-banner {
  float: left;
  width: 314px;
  overflow: hidden;
  display: block;
  margin-right: 19px;
}
/* line 69, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 .down-banner.last {
  margin-right: 0;
}
/* line 73, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 .down-banner a {
  display: block;
  width: 314px;
  height: 100px;
}
/* line 79, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 .down-banner.benneton a {
  background: url(../img/general/banners/downline-1.png) no-repeat 0 0;
}
/* line 82, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 .down-banner.benneton a:hover {
  background: url(../img/general/banners/downline-1.png) no-repeat 0 0;
  opacity: 0.85;
}
/* line 88, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 .down-banner.sisley a {
  background: url(../img/general/banners/downline-2.png) no-repeat 0 0;
}
/* line 91, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 .down-banner.sisley a:hover {
  background: url(../img/general/banners/downline-2.png) no-repeat 0 0;
  opacity: 0.85;
}
/* line 97, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 .down-banner.playlife a {
  background: url(../img/general/banners/downline-3.png) no-repeat 0 0;
}
/* line 100, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 .down-banner.playlife a:hover {
  background: url(../img/general/banners/downline-3.png) no-repeat 0 0;
  opacity: 0.85;
}
/* line 107, ../../sass/blocks/block-BannersLine.scss */
.dark #BannersLine .w980 .down-banner {
  float: left;
  width: 314px;
  overflow: hidden;
  display: block;
  margin-right: 19px;
}
/* line 114, ../../sass/blocks/block-BannersLine.scss */
.dark #BannersLine .w980 .down-banner.last {
  margin-right: 0;
}
/* line 118, ../../sass/blocks/block-BannersLine.scss */
.dark #BannersLine .w980 .down-banner a {
  display: block;
  width: 314px;
  height: 100px;
}
/* line 124, ../../sass/blocks/block-BannersLine.scss */
.dark #BannersLine .w980 .down-banner.benneton a {
  background: url(../img/sisley/banners/downline-1-inactive.png) no-repeat 0 0;
}
/* line 127, ../../sass/blocks/block-BannersLine.scss */
.dark #BannersLine .w980 .down-banner.benneton a:hover {
  background: url(../img/sisley/banners/downline-1.png) no-repeat 0 0;
}
/* line 132, ../../sass/blocks/block-BannersLine.scss */
.dark #BannersLine .w980 .down-banner.sisley a {
  background: url(../img/sisley/banners/downline-2-inactive.png) no-repeat 0 0;
}
/* line 135, ../../sass/blocks/block-BannersLine.scss */
.dark #BannersLine .w980 .down-banner.sisley a:hover {
  background: url(../img/sisley/banners/downline-2.png) no-repeat 0 0;
}
/* line 140, ../../sass/blocks/block-BannersLine.scss */
.dark #BannersLine .w980 .down-banner.playlife a {
  background: url(../img/sisley/banners/downline-3-inactive.png) no-repeat 0 0;
}
/* line 143, ../../sass/blocks/block-BannersLine.scss */
.dark #BannersLine .w980 .down-banner.playlife a:hover {
  background: url(../img/sisley/banners/downline-3.png) no-repeat 0 0;
}
/* line 148, ../../sass/blocks/block-BannersLine.scss */
#BannersLine .w980 .graphic, #BannersLine .w980 #prevBtn, #BannersLine .w980 #nextBtn {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: none;
  text-indent: -8000px;
}
