input[type=checkbox], input[type=radio] {
  width: 14px !important;
  height: 15px !important;
}
input[type=radio] {
  padding: 0px !important;
  margin:0px 8px 0 0 !important;
  border: 0px !important;
}

		div.checkbox input{
			position:absolute;
		}
		.checkbox input { left:-9999px; visibility:visible;}
		div.checkbox span.inputRadio{
			display:inline;
			zoom:1;
			width:13px;
			height:14px;
			background:url(../images/ch2.gif) left -16px no-repeat;
			margin:0px 5px 2px 0px;
			vertical-align:middle;
			position:absolute;
		}
		div.checkbox.checked span.inputRadio{background:url(../images/ch2.gif) left 2px no-repeat;}
		
		.left_menu li.active ul li .checkbox  span.inputRadio			{background:url(../images/ch1.gif) left -16px no-repeat;}
		.left_menu li.active ul li .checkbox.checked span.inputRadio	{background:url(../images/ch1.gif) left 2px no-repeat;}