/* line 4, ../sass/forms.scss */
.jqTransformHidden {
  display: none;
}

/* line 7, ../sass/forms.scss */
.order-form {
  display: block;
  width: 100%;
  background: #dedede;
}
/* line 12, ../sass/forms.scss */
.order-form legend {
  font-size: 18px;
  border: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  background: #fff;
  display: block;
  width: 100%;
}
/* line 22, ../sass/forms.scss */
.order-form dl {
  float: left;
  background: #dedede;
  padding: 10px;
  line-height: 18px;
}
/* line 28, ../sass/forms.scss */
.order-form dl dd {
  clear: both;
  padding-bottom: 30px;
  display: block;
}
/* line 34, ../sass/forms.scss */
.order-form dl.note {
  float: left;
  margin-left: 0px;
}
/* line 38, ../sass/forms.scss */
.order-form dl.note span {
  color: #cc0000;
}
/* line 42, ../sass/forms.scss */
.order-form dl.delivery {
  border-right: 5px solid #fff;
}
/* line 45, ../sass/forms.scss */
.order-form dl.delivery label {
  width: 190px;
}
/* line 53, ../sass/forms.scss */
.order-form label {
  float: left;
  font-size: 14px;
  line-height: 25px;
  width: 240px;
}
/* line 59, ../sass/forms.scss */
.order-form label span {
  color: #cc0000;
}
/* line 64, ../sass/forms.scss */
.order-form .white-form {
  float: left;
  margin: 0;
  padding: 0;
  height: 25px;
  background: #fff;
  border: 0;
  width: 215px;
  color: #5a5a5a;
  font-size: 14px;
  padding: 0 5px;
  float: left;
}
/* line 77, ../sass/forms.scss */
.order-form .white-form.gray-text {
  color: #969696!important;
}
/* line 81, ../sass/forms.scss */
.order-form .white-form.w250 {
  width: 250px;
}
/* line 85, ../sass/forms.scss */
.order-form textarea.white-form {
  height: 70px;
  padding: 5px;
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
}
/* line 93, ../sass/forms.scss */
.order-form .bonus-to-pay input {
  float: right;
  border: 0;
  color: #5a5a5a;
  width: 70px;
  text-align: right;
  height: 30px;
  font-size: 28px;
  font-weight: bold;
  background: #fff;
  padding: 5px 0;
}
/* line 110, ../sass/forms.scss */
.order-form .type-select .jqTransformSelectWrapper, .order-form .cash-type-select .jqTransformSelectWrapper {
  width: 240px!important;
  margin-left: 25px;
}
/* line 116, ../sass/forms.scss */
.order-form .type-select .jqTransformSelectWrapper div span, .order-form .cash-type-select .jqTransformSelectWrapper div span {
  width: 235px!important;
}
/* line 119, ../sass/forms.scss */
.order-form .type-select .jqTransformSelectWrapper div span:hover, .order-form .cash-type-select .jqTransformSelectWrapper div span:hover {
  width: 235px!important;
}
/* line 125, ../sass/forms.scss */
.order-form .type-select .jqTransformSelectWrapper ul, .order-form .cash-type-select .jqTransformSelectWrapper ul {
  width: 240px!important;
}
/* line 129, ../sass/forms.scss */
.order-form .type-select .jqTransformRadioWrapper, .order-form .cash-type-select .jqTransformRadioWrapper {
  float: left;
  display: block;
  margin: 0px 4px;
  margin-top: 5px;
}
/* line 130, ../sass/forms.scss */
.order-form .type-select .jqTransformRadioWrapper label, .order-form .cash-type-select .jqTransformRadioWrapper label {
  float: left !important;
  width: 240px;
  margin-top: -16px;
  margin-left: 20px;
}
/* line 136, ../sass/forms.scss */
.order-form .type-select .jqTransformRadio, .order-form .cash-type-select .jqTransformRadio {
  text-indent: -3000px;
  background: transparent url(../img/forms/radio-button-big.png) no-repeat center top;
  vertical-align: middle;
  float: left;
  height: 16px;
  margin-left: -5px;
  width: 16px;
  display: block;
  /*display: -moz-inline-block;*/
}
/* line 147, ../sass/forms.scss */
.order-form .type-select a.jqTransformChecked, .order-form .cash-type-select a.jqTransformChecked {
  background-position: center bottom;
}
/* line 152, ../sass/forms.scss */
.order-form .jqTransformSelectWrapper {
  position: relative;
  height: 25px;
  width: 225px!important;
  color: #fff;
  background: #5a5a5a;
  float: left;
}
/* line 161, ../sass/forms.scss */
.order-form .jqTransformSelectWrapper div span {
  font-size: 14px;
  float: none;
  display: block;
  z-index: 20;
  width: 220px!important;
  position: absolute;
  white-space: nowrap;
  height: 25px;
  line-height: 25px;
  padding: 0px 0 0 5px;
  left: 0;
  overflow: hidden;
  cursor: pointer;
}
/* line 177, ../sass/forms.scss */
.order-form .jqTransformSelectWrapper div span:hover {
  background: url(../img/forms/form-select-big/hover.png) no-repeat top right;
}
/* line 181, ../sass/forms.scss */
.order-form .jqTransformSelectWrapper div span.selected {
  background: url(../img/forms/form-select-big/active.png) no-repeat top right;
}
/* line 186, ../sass/forms.scss */
.order-form .jqTransformSelectWrapper a.jqTransformSelectOpen {
  display: block;
  position: absolute;
  left: 0px;
  z-index: 10;
  width: 0px;
  height: 25px;
  background: url(../img/forms/form-select-big/inactive.png) no-repeat top right;
}
/* line 196, ../sass/forms.scss */
.order-form a.jqTransformSelectOpen:hover {
  background: url(../img/forms/form-select-big/hover.png) no-repeat top right;
}
/* line 200, ../sass/forms.scss */
.order-form a.jqTransformSelectOpen.selected {
  background: url(../img/forms/form-select-big/active.png) no-repeat top right;
}
/* line 204, ../sass/forms.scss */
.order-form .jqTransformSelectWrapper ul {
  position: absolute;
  width: 225px!important;
  top: 27px;
  left: 0px;
  list-style: none;
  display: none;
  margin: 0px;
  padding: 0px;
  height: 170px;
  overflow: auto;
  overflow-y: auto;
  z-index: 10;
}
/* line 219, ../sass/forms.scss */
.order-form .jqTransformSelectWrapper ul a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #959595;
  font-size: 14px;
}
/* line 228, ../sass/forms.scss */
.order-form .jqTransformSelectWrapper ul a.selected {
  background: #5a5a5a;
  color: #fff;
}
/* line 233, ../sass/forms.scss */
.order-form .jqTransformSelectWrapper ul a:hover, .order-form .jqTransformSelectWrapper ul a.selected:hover {
  background: #cd1442;
  color: #fff;
}

/* line 239, ../sass/forms.scss */
.product-sizes {
  overflow: hidden;
  line-height: 16px;
  display: block;
}
/* line 244, ../sass/forms.scss */
.product-sizes .jqTransformRadioWrapper {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
/* line 247, ../sass/forms.scss */
.product-sizes .jqTransformRadioWrapper label {
  margin-top: -16px;
  line-height: 16px;
  margin-left: 8px;
}
/* line 252, ../sass/forms.scss */
.product-sizes .jqTransformRadio {
  text-indent: -3000px;
  background: transparent url(../img/forms/radio-button-big.png) no-repeat left top;
  vertical-align: middle;
  float: left;
  height: 16px;
  margin-left: 0px;
  width: 16px;
  display: block;
  /*display: -moz-inline-block;*/
}
/* line 262, ../sass/forms.scss */
.product-sizes a.jqTransformDisabled {
  background-position: right bottom;
}
/* line 263, ../sass/forms.scss */
.product-sizes a.jqTransformChecked {
  background-position: left bottom;
}

/* line 266, ../sass/forms.scss */
.product-colors {
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 271, ../sass/forms.scss */
.product-colors .jqTransformRadioWrapper {
  float: left;
  margin-right: 35px;
  margin-bottom: 10px;
}
/* line 274, ../sass/forms.scss */
.product-colors .jqTransformRadioWrapper label {
  float: left;
  line-height: 16px;
  margin-left: 8px;
}
/* line 279, ../sass/forms.scss */
.product-colors .jqTransformRadio {
  text-indent: -3000px;
  background: transparent url(../img/forms/radio-button-big.png) no-repeat left top;
  vertical-align: middle;
  float: left;
  height: 16px;
  margin-left: 0px;
  width: 16px;
  display: block;
  /*display: -moz-inline-block;*/
}
/* line 291, ../sass/forms.scss */
.product-colors a.jqTransformDisabled {
  background-position: right top;
}
/* line 292, ../sass/forms.scss */
.product-colors a.jqTransformChecked {
  background-position: left bottom;
}
