/* line 1, ../../sass/blocks/block-bread.scss */
.bread {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 40px;
  line-height: 18px;
}
/* line 8, ../../sass/blocks/block-bread.scss */
.bread a {
  text-decoration: none;
}
/* line 11, ../../sass/blocks/block-bread.scss */
.bread a:hover {
  text-decoration: underline;
}
/* line 15, ../../sass/blocks/block-bread.scss */
.bread a.prev, .bread a.next {
  float: right;
  margin-top: 2px;
  margin-left: 20px;
  font-size: 14px;
}
/* line 22, ../../sass/blocks/block-bread.scss */
.bread a.dressed {
  display: block;
  float: right;
  padding: 3px 10px;
  margin-left: 10px;
  margin-top: -1px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background: #5a5a5a;
}
/* line 33, ../../sass/blocks/block-bread.scss */
.bread a.dressed:hover, .bread a.dressed.active {
  background: #c0061e;
}
/* line 40, ../../sass/blocks/block-bread.scss */
.bread .breadfoot {
  background: #5a5a5a;
  height: 3px;
  margin: 15px 0 0 0;
}
