{% load custom_tags %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Do Not Forget Edit It</title>

    {% load static %}
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery.tmpl.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/knockout.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/utils.js"></script>

    {% block 'scripts'  %}

    {% endblock %}

</head>
<body>
    {% block  "content" %}
        здесь весь контенттик
    {% endblock %}
</body>
</html>
