{% extends 'base.html' %}
{% load custom_tags %}
{% block "content" %}

<div id="preloader">
    <img src="images/preloader.gif" alt="" />
</div>

<div id="main">

    <!--информация об объекте, а так же варианты объектов-->
    <div id="item_info" class="item_info" data-bind="style: {
        display: show_info() == true ? 'block': 'none'}">
        <div class="holder" data-bind="style: {left: info_left, top: info_top}">
            <div class="title" >
                <span data-bind="text: title"></span> 
                <b data-bind="text: price"></b> 
            </div>
            <div class="close" data-bind="click: closeInfo">X</div> 
            <div style="clear:both"></div>
            <div class="variants" data-bind="template:{name: 'variants', foreach: variants}">
                {% jqtpl "variants" %}
                    <img data-bind="attr:{src: mini_thumb}, click: sendInfo "/>
                {% endjqtpl %}
            </div>
            <div data-bind="click: removeMap, visible: can_remove">Удалить</div>
        </div>
    </div> 

    
    <!--основной объект с данными-->
    <div id='result_image' class="result_image">
        <ul data-bind="template: {name: 'item_list', foreach: maps}, event: {mouseover: freezeBlackout, mouseout: unfreezeBlackout}" class="item_list_parent"  > 
            {% jqtpl "item_list" %}
            <li data-bind="event: {mouseover: togglePhoto , mouseout: togglePhoto }, visible: can_display" >
                <b data-bind="click: removeMap, visible: can_remove">X</b> 
                <span data-bind="text: title"></span> 
                <b data-bind="text: price"></b> 
            </li> 
            {% endjqtpl %}
        </ul> 

        <img src="images/transparent.png" width="100%" height="100%"
            usemap="#map" id="main_transparent_shell" />

        <map name="map" data-bind="template: {name: 'map_list', foreach:maps}">
            <span>
            {% jqtpl "map_list" %}
                {{each $item.data.image_maps }}
                    <area shape="poly" coords="${$value}" 
                    data-bind="click: itemInfo, event: {mouseover: togglePhoto , mouseout: togglePhoto }" />
                {{/each}}
            {% endjqtpl %}
            </span> 
        </map>

        <div data-bind="template:{name:'variants_img', foreach:maps}" id="variants_img_parent">
            {% jqtpl "variants_img" %}
                <img data-bind="attr: {src: photo}, visible: show_photo,
                    style: {left: photo_left, top: photo_top}"/ >
            {% endjqtpl %}
        </div>

        <div id="blackout" data-bind="style:{opacity: blackout() ? '0.5' : '0'}"></div> 

        <!-- это самое основное изображение -->
        <img id="main_image" data-bind="attr: {src: main_image }"/>

        <!--здесь цена-->
        <div>
            Цена: <span data-bind="text: getFullPrice()"></span> 
        </div> 


    </div>
</div>
    
<div style="clear: both"></div>

<div id="items"></div>
<div id="filters"></div>
<div id="sort_menu"></div>
<div class="product_list"></div>
{% endblock %}




