{% load custom_tags %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Do Not Forget Edit It</title>

    {% load static %}
    <script type="text/javascript" src="../{% get_static_prefix %}js/jquery.js"></script>
    <script type="text/javascript" src="../{% get_static_prefix %}js/knockout.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            var json = {
                    objects:[
                        {
                            id: 2,
                            type: "Face",
                            photo_id: 2,
                        },
                        {
                            id: 60271,
                            type: "Item",
                            photo_id: 157
                            
                        },
                        {
                            id: 60302,
                            type: "Item",
                            photo_id: 92,
                        },
                        {
                          id: 60563,
                          type:"Item",
                          photo_id : 207
                        },
                        {
                          id:2,
                          type:"Background",
                          photo_id:2
                        },
                        {
                            id:6,
                            type: "Body"
                        },
                        
                    ],
                    new_object:{
                        id: 60271,
                        type: "Item",
                        photo_id: 157
                    },
                    view: "front", //или back,
            };
            $.get(
                '/proxy/fitting_room/looks/imposition',
                {
                    method: 'get_data',
                    format: 'json',
                    v : '2',
                    json: ko.toJSON(json) ,
                    
                },
                function(data){
                    console.log(data)
                    $("div#request").html(data);
                }
            );
                
        });
    </script>  
</head>
<body>
    <div id="request">Сюда должне прийти ответ</div> 
</body>
</html>
