/* line 1, ../sass/_grid.scss */
.w980 {
  display: block;
  width: 980px;
  margin: 0 auto;
}
/* line 6, ../sass/_grid.scss */
.w980 .w130 {
  display: block;
  width: 130px;
}
/* line 11, ../sass/_grid.scss */
.w980 .w180 {
  display: block;
  width: 180px;
}
/* line 16, ../sass/_grid.scss */
.w980 .w190 {
  display: block;
  width: 190px;
}
/* line 21, ../sass/_grid.scss */
.w980 .w255 {
  display: block;
  width: 255px;
}
/* line 26, ../sass/_grid.scss */
.w980 .w260 {
  display: block;
  width: 260px;
}
/* line 31, ../sass/_grid.scss */
.w980 .w265 {
  display: block;
  width: 265px;
}
/* line 36, ../sass/_grid.scss */
.w980 .w290 {
  display: block;
  width: 290px;
}
/* line 41, ../sass/_grid.scss */
.w980 .w210 {
  display: block;
  width: 210px;
}
/* line 46, ../sass/_grid.scss */
.w980 .w235 {
  display: block;
  width: 235px;
}
/* line 51, ../sass/_grid.scss */
.w980 .w485 {
  display: block;
  width: 485px;
}
/* line 56, ../sass/_grid.scss */
.w980 .w440 {
  display: block;
  width: 440px;
  margin: 0 10px;
}
/* line 62, ../sass/_grid.scss */
.w980 .w725 {
  display: block;
  width: 725px;
}
/* line 67, ../sass/_grid.scss */
.w980 .w710 {
  display: block;
  width: 710px;
}
/* line 72, ../sass/_grid.scss */
.w980 .w250 {
  display: block;
  width: 250px;
}
/* line 76, ../sass/_grid.scss */
.w980 .w410 {
  display: block;
  width: 410px;
}
/* line 81, ../sass/_grid.scss */
.w980 .w470 {
  display: block;
  width: 470px;
}
/* line 85, ../sass/_grid.scss */
.w980 .w500 {
  display: block;
  width: 500px;
}
/* line 90, ../sass/_grid.scss */
.w980 .w545 {
  display: block;
  width: 545px;
}
/* line 95, ../sass/_grid.scss */
.w980 .w420 {
  display: block;
  width: 420px;
}

/* line 9, ../sass/common.scss */
header,
nav,
section,
article,
aside,
footer {
  display: block;
}

/* line 13, ../sass/common.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 8px;
  padding: 0;
  font: normal 1em/1.3em sans-serif;
  text-transform: uppercase;
}

/* line 21, ../sass/common.scss */
html {
  height: 100%;
}

/* line 25, ../sass/common.scss */
body {
  height: 100%;
  margin: 15px 0;
  padding: 0;
  min-width: 980px;
  font: normal 12px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  color: #5a5a5a;
}
/* line 33, ../sass/common.scss */
body.dark {
  background: #000;
}

/* line 39, ../sass/common.scss */
.bg-1 {
  background: #dedede;
  display: block;
  width: 100%;
}

/* line 45, ../sass/common.scss */
img {
  border: none;
}

/* line 49, ../sass/common.scss */
.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 57, ../sass/common.scss */
.clearfix {
  zoom: 1;
  clear: both;
}

/* line 63, ../sass/common.scss */
dd,
dt {
  margin: 0;
  padding: 0;
  display: inline;
}

/* line 69, ../sass/common.scss */
a {
  color: #5a5a5a;
  text-decoration: underline;
}
/* line 73, ../sass/common.scss */
a:hover {
  text-decoration: none;
}
